@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Always Encrypted Sample App</h1>
    <p class="lead">Always Encrypted allows clients to encrypt sensitive data inside client applications and never reveal the encryption keys to SQL Server.</p>
    <p><a href="https://msdn.microsoft.com/en-us/library/mt163865.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            In order to encrypt the columns you need to run the <code lang="powershell">New-EncryptionKeys.ps1</code> and <code lang="powershell">Invoke-EncryptColumns.ps1</code> scripts in the project root folder on the created database.
        </p>
    </div>
</div>